@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  background: #fafafa;
  font-family: Barlow;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

header nav {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

header nav .toggle-btn {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  header nav .toggle-btn {
    display: block;
  }
}

header nav ul {
  list-style-type: none;
}

@media (max-width: 768px) {
  header nav ul {
    display: none;
  }
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  padding: 1em;
  color: #242942;
  font-family: Barlow Condensed;
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.nav-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav-mobile {
    width: 80%;
    margin: auto;
    text-align: center;
    background: white;
    -webkit-box-shadow: 0 2px 2px 2px rgba(127, 127, 127, 0.2);
            box-shadow: 0 2px 2px 2px rgba(127, 127, 127, 0.2);
    padding: 1em;
    border-radius: 3px;
    position: absolute;
    top: 1;
    left: 10%;
  }
}

.nav-mobile ul {
  list-style: none;
  display: none;
}

@media (max-width: 768px) {
  .nav-mobile ul {
    display: block;
  }
}

.nav-mobile ul li {
  text-transform: uppercase;
  padding: 0.5em;
}

.nav-mobile ul li .navbar__grey {
  color: #a0a1ac;
}

.nav-mobile ul li .navbar__grey-divider {
  border: 0.4px solid #a0a1ac;
}

.nav-mobile ul li a {
  text-decoration: none;
  padding: 1em;
  color: #242942;
  font-family: Barlow Condensed;
  font-weight: 700;
}

.nav-mobile ul li a:hover {
  text-decoration: underline;
}

.navbar__grey {
  color: #a0a1ac;
}

main .container {
  padding: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

main .container .section-one {
  width: 60%;
  padding: 0 4em;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media (max-width: 768px) {
  main .container .section-one {
    width: 100%;
    padding: 4em 4em;
  }
}

main .container .section-one .wrapper {
  width: 40vw;
}

@media (max-width: 768px) {
  main .container .section-one .wrapper {
    width: 100%;
  }
}

main .container .section-one .wrapper .section-one__title,
main .container .section-one .wrapper .section-one__intro-text {
  text-transform: uppercase;
}

main .container .section-one .wrapper .section-one__title {
  font-size: 12px;
  color: #5b5f71;
  letter-spacing: 4px;
}

main .container .section-one .wrapper .section-one__title .section-one__title--inverted {
  background: black;
  color: #fafafa;
  padding: 0.5em;
  line-height: 3em;
  border-radius: 3em;
  font-family: Barlow Condensed;
}

main .container .section-one .wrapper .section-one__intro-text h1 {
  font-family: Barlow Condensed;
  padding: 0.5em 0;
  font-size: 48px;
}

main .container .section-one .wrapper .section-one__intro-text p {
  text-transform: initial;
  color: #a0a1ac;
}

main .container .section-one .wrapper .section-one__btn-wrapper {
  padding: 2em 0;
  text-transform: uppercase;
  font-family: Barlow Condensed;
}

main .container .section-one .wrapper .section-one__btn-wrapper a {
  text-decoration: none;
  color: #a0a1ac;
  font-size: 14px;
}

main .container .section-one .wrapper .section-one__btn-wrapper .btn {
  font-weight: 700;
  color: white;
  background: #ff5c5c;
  padding: 1em 1.5em;
  border-radius: 3px;
}

main .container .section-one .wrapper .section-one__btn-wrapper .spaced {
  letter-spacing: 2px;
  line-height: 3em;
}

main .container .section-two {
  width: 40%;
}

@media (max-width: 768px) {
  main .container .section-two {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

main .container .section-two .section-two__illustration-wrapper {
  width: 100%;
}

@media (max-width: 768px) {
  main .container .section-two .section-two__illustration-wrapper {
    width: 60%;
  }
}

main .container .section-two .section-two__illustration-wrapper .illustration {
  max-width: 100%;
}

.attribution {
  font-size: 14px;
  text-align: center;
  padding: 1em;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */