$primary: #41308d;
$primary-40: lighten($primary, $amount: 40);
$background-primary: #171824;
$white: #ffffff;
$grey: #a0aec0;

// Font Import
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: $background-primary;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

// Utilities
.text-accent {
  color: $primary-40;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  background: $background-primary;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% auto;
    width: 80%;
    @media (max-width: 768px) {
      width: 90%;
    }
    .logo {
      width: 50px;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .nav-links {
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      font-weight: 300;
      @media (max-width: 768px) {
        justify-content: flex-end;
      }
      li {
        display: inline-block;
        a {
          color: $white;
          text-decoration: none;

          &:hover {
            color: $primary-40;
          }
        }
      }

      .hide-mobile {
        @media (max-width: 768px) {
          display: none !important;
        }
      }

      .resume {
        -webkit-box-align: center;
        align-items: center;
        -webkit-appearance: none;
        background-color: $primary;
        font-weight: 600;
        height: 2.5rem;
        -webkit-box-pack: center;
        justify-content: center;
        line-height: 1.2;
        min-width: 2.5rem;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        position: relative;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 0.25rem;
        outline: none;
        transition: all 250ms ease 0s;
      }
    }
  }
}

main {
  margin-top: 15rem;

  .container {
    color: $white;
    width: 80%;
    margin: 2rem auto;

    //   Introduction

    .introduction {
      h2,
      p {
        margin: 2.5rem 0;
      }

      h2 {
        font-size: 6rem;
        font-weight: 700;

        @media (max-width: 768px) {
          font-size: 2.5rem;
        }
      }

      &--details {
        color: $grey;
        width: 60%;
        line-height: 2;

        @media (max-width: 900px) {
          width: 70%;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }

      &--button {
        color: $primary-40;
        text-decoration: none;
        border: 2px solid $primary-40;
        -webkit-box-align: center;
        -webkit-appearance: none;
        font-weight: 600;
        height: 3rem;
        -webkit-box-pack: center;
        line-height: 1.2;
        min-width: 2.5rem;
        padding: 1.5rem 2rem;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        border-radius: 0.25rem;
        outline: none;
        transition: all 250ms ease 0s;


        &:hover {
          background: $primary-40;
          color: $white;
        }
      }
    }
  }
}
