// Font Used -- LATO and MERRIWEATHER ( Google Fonts)
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

// Colors Used
$dark-purple: #2a2d43;
$grey: #e5e5e5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
}

// utitlies
.d-none {
  display: none;
}

.over-flow-y {
  overflow-y: hidden;
}

// Declared Font-Family For Headings and Paragraph
h1,
h2 {
  font-family: "Merriweather", serif;
}
p,
a {
  font-family: "Lato", sans-serif;
}
#myDialogue {
  font-family: "Lato", sans-serif;
  width: 50%;
  height: auto;
  background: #f4f4f4;
  margin: 2% auto;
  border: none;
  @media (max-width: 768px) {
    width: 90%;
  }
  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  .tester-header {
    background: #7b17e5;
    color: white;
    padding: 1em;
    text-align: center;
  }
  form {
    margin-top: 0.5rem;
    padding: 2em;
    .form-group {
      margin-top: 0.5rem;
      input {
        margin-top: 0.5rem;
        width: 100%;
        padding: 0.5rem;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.315);
        &:active,
        &:focus {
          outline: none;
        }
      }
    }
    .text-center {
      text-align: center;
      .submitBtn {
        margin-top: 1rem;
        padding: 1.5em 4em;
        border: none;
        background: #7b17e5;
        color: white;
        border-radius: 4px;
        &:active,
        &:focus {
          outline: none;
        }
      }
      .closeDialog{
        margin-top: 1em ;
        color: rgb(160, 24, 24);
      }
    }
  }
}
body {
  .body-wrapper {
    padding: 0;
    header {
      // Navigation Bar
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2em;
        ul {
          list-style: none;
          li {
            a {
              text-decoration: none;
              color: $dark-purple;
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
        .softnexus {
          @media (max-width: 768px) {
            display: none;
          }
        }
        .product-logo {
          display: flex;
          justify-content: center;
          width: 100px;
          height: auto;
          img {
            max-width: 100%;
          }
        }
      }
      // Jumbotron
      .jumbotron {
        width: 100%;
        height: 80vh;
        padding: 12%;
        margin: auto;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5)),
          url("../images/jumbotron.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
          padding: 10%;
        }
        .jumbotron-text {
          h1,
          p,
          .mail-wrapper {
            padding: 0.5em;
          }
          .mail-wrapper {
            margin-top: 4em;
            a {
              color: white;
              padding: 1em 2em;
              border: 2px solid white;
              text-decoration: none;
              color: white;
              border-radius: 4px;
              &:hover {
                color: $dark-purple;
                background: white;
                border: none;
                font-weight: bolder;
              }
            }
          }
        }
      }

      .goal-wrapper {
        text-align: center;
        width: 100%;
        height: auto;
        background: #fafafa;
        margin-top: 4em;
        h3 {
          font-family: "Lato", sans-serif;
          width: 60%;
          padding: 1em;
          margin: auto;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }

    //   Main Content
    main {
      //   Section One
      .section-one {
        margin: 4em 0;
        .row {
          display: flex;
          width: 90%;
          margin: auto;
          justify-content: space-around;
          align-items: center;
          @media (max-width: 768px) {
            display: block;
          }
          .col-2 {
            width: 45%;
            padding: 2em 0;
            @media (max-width: 768px) {
              width: 100%;
              text-align: center;
            }
            .img-container {
              img {
                max-width: 100%;
              }
            }
            .text-container {
              width: 80%;
              margin: auto;
              h1,
              p {
                margin: 1em 0;
              }
            }
          }
        }
        .swapped {
          flex-direction: row-reverse;
          @media (max-width: 768px) {
            flex-direction: row;
          }
        }
      }
      // Section Two
      .section-two {
        .row {
          width: 90%;
          display: flex;
          margin: auto;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 768px) {
            display: block;
            text-align: center;
          }
          .col {
            width: 30%;
            @media (max-width: 768px) {
              width: 100%;
            }
            .vector-map {
              text-align: center;
              @media (max-width: 768px) {
                display: none;
              }
              img {
                max-width: 30%;
              }
            }
            .preview-wrapper {
              img {
                max-width: 100%;
              }
            }
            .text-wrapper {
              @media (max-width: 768px) {
                display: none;
              }
              margin: 1em 0;
              text-align: center;
              background: #e5e5e5b3;
              p {
                font-family: "Merriweather", serif;
                padding: 1em;
              }
            }
          }
        }
      }
    }
  }

  //   Footer
  .footer {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)),
      url("../images/footer-bg.png");
    background-size: cover;
    color: white;
    padding: 2em;
    margin-top: 2em;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    .content-one {
      @media (min-width: 768px) {
        width: 50%;
      }
      h1,
      p {
        margin: 0.5em 0;
      }
      p {
        line-height: 1.5em;
      }
    }

    .content-two {
      margin-top: 2em;
      @media (min-width: 768px) {
        width: 50%;
        margin-top: 0;
        margin-left: 4em;
      }
      .form-group {
        input {
          padding: 1.5em 1%;
          border: 0;
          margin-top: 1em;
          @media (max-width: 768px) {
            padding: 1.5em 6%;
          }
        }
        input[type="email"] {
          border-radius: 5px 0 0 5px;
          background: rgba(255, 255, 255, 0.502);
          outline: none;
          width: 50%;
          &::placeholder {
            color: #2a2343;
          }
        }
        input[type="submit"] {
          border-radius: 0 5px 5px 0;
          color: #ffffff;
          background: #000000;
          padding: 1.5em 2em;
          margin-left: -4px;
        }
      }
    }
  }
}
