// Font Used -- LATO and MERRIWEATHER ( Google Fonts)
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap");

// Colors Used
$dark-purple: #2a2d43;
$grey: #e5e5e5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Declared Font-Family For Headings and Paragraph
h1,
h2 {
  font-family: "Merriweather", serif;
}
p,
a {
  font-family: "Lato", sans-serif;
}

body {
  .body-wrapper {
    padding: 0;
    header {
      // Navigation Bar
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2em;
        ul {
          list-style: none;
          li {
            a {
              text-decoration: none;
              color: $dark-purple;
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
        .softnexus{
            @media (max-width: 768px){
              display: none;
            }
        }
        .product-logo {
          display: flex;
          justify-content: center;
          width: 80px;
          height: auto;
          img {
            max-width: 50%;
          }
        }
      }
      // Jumbotron
      .jumbotron {
        width: 100%;
        height: auto;
        padding: 12%;
        margin: auto;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), #000000),
          url("../images/jumbotron.png");
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        text-align: center;
        @media (max-width: 768px){
          padding: 10%;
        }
        .jumbotron-text {
          h1,
          p {
            padding: 0.5em;
          }
        }
      }
      .scroller {
        // Scroll button container
        width: 91%;
        height: 80px;
        margin: auto;
        @media (max-width: 768px) {
          display: flex;
          justify-content: center;
        }
        // Scroll button
        .scroll-btn {
          padding: 1em;
          font-size: 18px;
          background: $grey;
          color: rgba(42, 45, 67, 0.694);
          margin: 0.5em;
          float: right;
          border: none;
          &:hover {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.19);
          }
          @media (max-width: 768px) {
            float: none;
          }
        }
      }

      // Three column Layout
      .container {
        margin-top: 2em;
        .row {
          display: flex;
          width: 80%;
          margin: auto;
          justify-content: space-between;
          @media (max-width: 768px) {
            display: block;
            width: 90%;
          }
          .col-3 {
            width: 30%;
            @media (max-width: 768px) {
              width: 100%;
              padding: 1em;
            }
            .text-container {
              text-align: center;
              background: #e5e5e5b3;
              p {
                font-family: "Merriweather", serif;
                padding: 2em;
              }
            }
          }
        }
      }
    }

    //   Main Content
    main {
      //   Section One
      .section-one {
        margin: 4em 0;
        .row {
          display: flex;
          width: 90%;
          margin: auto;
          justify-content: space-around;
          align-items: center;
          @media (max-width: 768px) {
            display: block;
          }
          .col-2 {
            width: 45%;
            padding: 2em 0;
            @media (max-width: 768px) {
              width: 100%;
              text-align: center;
            }
            .img-container {
              img {
                max-width: 100%;
              }
            }
            .text-container {
                width: 80%;
                margin: auto;
              h1,
              p {
                margin: 1em 0;
              }
            }
          }
        }
        .swapped {
          flex-direction: row-reverse;
          @media (max-width: 768px) {
            flex-direction: row;
          }
        }
      }
      // Section Two
      .section-two {
        .row {
          width: 90%;
          display: flex;
          margin: auto;
          align-items: center;
          justify-content: space-between;
          @media (max-width: 768px) {
            display: block;
            text-align: center;
          }
          .col {
            width: 30%;
            @media (max-width: 768px) {
              width: 100%;
            }
            .vector-map {
                text-align: center;
              @media (max-width: 768px) {
                display: none;
              }
              img {
                max-width: 30%;
              }
            }
            .preview-wrapper {
              img {
                max-width: 100%;
              }
            }
            .text-wrapper {
              @media (max-width: 768px) {
                display: none;
              }
              margin: 1em 0;
              text-align: center;
              background: #e5e5e5b3;
              p {
                font-family: "Merriweather", serif;
                padding: 1em;
              }
            }
          }
        }
      }
    }
  }
  //   Footer
  .footer {
    background: url("../images/footer-bg.png");
    background-size: cover;
    color: white;
    padding: 2em;
    margin-top: 2em;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .content-one {
      @media (min-width: 768px) {
        width: 50%;
      }
      h1,
      p {
        margin: 0.5em 0;
      }
      p {
        line-height: 1.5em;
      }
    }

    .content-two {
      margin-top: 2em;
      @media (min-width: 768px) {
        width: 50%;
        margin-top: 0;
        text-align: center;
      }
      .form-group {
        input {
          padding: 1.5em 15%;
          border: 0;
          margin-top: 1em;
          @media (max-width: 768px){
          padding: 1.5em 6%;
          }
        }
        input[type="email"] {
          border-radius: 5px 0 0 5px;
          background: rgba(255, 255, 255, 0.502);
          outline: none;
          &::placeholder {
            color: #2a2343;
          }
        }
        input[type="submit"] {
          border-radius: 0 5px 5px 0;
          color: #ffffff;
          background: #000000;
          padding: 1.5em 2em;
          margin-left: -4px;
        }
      }
    }
  }
}
