@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  font-family: Bai Jamjuree;
  font-size: 18px;
}

header {
  background: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em;
}

header .header-wrapper {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

header .header-wrapper .brand,
header .header-wrapper h1,
header .header-wrapper p,
header .header-wrapper .button-wrapper {
  padding: 0.5em;
}

header .header-wrapper .button-wrapper {
  margin-top: 1.4em;
}

header .header-wrapper .button-wrapper .btn-green {
  background: #26baa4;
}

header .header-wrapper .button-wrapper .btn-purple {
  background: #6173ff;
}

header .header-wrapper .button-wrapper .btn {
  margin-left: 1em;
  padding: 0.6em 1.2em;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 3em;
  cursor: pointer;
}

header .header-wrapper p {
  color: #9fabb2;
  line-height: 1.5em;
}

main .section-one {
  padding: 4em;
  text-align: center;
}

main .section-one h2,
main .section-one p {
  padding: 0.5em;
}

main .section-one p {
  color: #9fabb2;
  line-height: 1.5em;
}

main .section-two {
  margin-top: 2em;
}

main .section-two .row {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-two .row .col {
  width: 45%;
}

main .section-two .row .col-1 {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

main .section-two .row .col-1 img {
  max-width: 100%;
}

main .section-two .row .col-2 .text-wrapper {
  padding: 1em;
}

main .section-two .row .col-2 .text-wrapper h3,
main .section-two .row .col-2 .text-wrapper p {
  padding: 0.2em;
}

main .section-two .row .col-2 .text-wrapper p {
  color: #9fabb2;
  line-height: 1.5em;
}

main .section-three {
  margin-top: 2em;
  padding: 4em;
}

main .section-three .text-wrapper {
  text-align: center;
}

main .section-three .text-wrapper h2,
main .section-three .text-wrapper p {
  margin: 0 auto;
  padding: 0.5em;
  width: 50vw;
}

main .section-three .text-wrapper p {
  color: #9fabb2;
  line-height: 1.5em;
}

main .section-three .text-wrapper .img-div {
  padding: 2em;
  margin-top: 1em;
}

main .section-three .text-wrapper .img-div img {
  max-width: 100%;
}

main .section-four {
  padding: 2em;
}

main .section-four .text-wrapper {
  text-align: center;
}

main .section-four .text-wrapper h3,
main .section-four .text-wrapper p {
  padding: 0.5em;
}

main .section-four .text-wrapper p {
  color: #9fabb2;
}

main .section-four .row {
  padding: 1em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section-four .row .col {
  padding: 1em;
  text-align: center;
  width: 40vw;
  margin: 0 auto;
}

main .section-four .row .col img,
main .section-four .row .col h3,
main .section-four .row .col p {
  padding: 0.4em;
}

main .section-four .row .col p {
  font-size: 14px;
  color: #9fabb2;
  line-height: 1.8em;
}

main .section-four .row .col img {
  max-width: 100%;
}

main .section-five {
  padding: 2em;
  width: 80%;
  margin: 0 auto;
}

main .section-five .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section-five .icon-container .icon-wrapper {
  padding: 1em;
}

main .section-five .icon-container .icon-wrapper img {
  max-width: 100%;
}

main .section-five .text-wrapper {
  padding: 1em;
  margin-top: 4em;
  text-align: center;
}

main .section-five .text-wrapper h2,
main .section-five .text-wrapper p {
  padding: 0.5em;
}

main .section-five .text-wrapper p {
  color: #9fabb2;
  width: 40vw;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.8em;
}

main .section-five .text-wrapper .button-wrapper {
  margin-top: 1.4em;
}

main .section-five .text-wrapper .button-wrapper .btn-green {
  background: #26baa4;
}

main .section-five .text-wrapper .button-wrapper .btn-purple {
  background: #6173ff;
}

main .section-five .text-wrapper .button-wrapper .btn {
  margin-left: 1em;
  padding: 0.6em 1.2em;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 3em;
  cursor: pointer;
}

footer {
  padding: 2em;
  margin-top: 2em;
  background: #f5f6f8;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-wrapper .row marg .col {
  padding: 0.5em;
  width: 13.3%;
}

footer .footer-wrapper .row .col-1 .brand img {
  max-width: 60%;
}

footer .footer-wrapper .row .col-2 ul li {
  list-style: none;
}

footer .footer-wrapper .row .col-2 ul li a {
  text-decoration: none;
  color: #4c545d;
  font-size: 14px;
}

footer .footer-wrapper .row .col-3 ul li {
  list-style: none;
}

footer .footer-wrapper .row .col-3 ul li a {
  text-decoration: none;
  color: #4c545d;
  font-size: 14px;
}

footer .footer-wrapper .row .col-4 ul li {
  list-style: none;
}

footer .footer-wrapper .row .col-4 ul li a {
  text-decoration: none;
  color: #4c545d;
  font-size: 14px;
}

footer .attribution {
  text-align: center;
  padding: 1em;
  font-size: 14px;
}

footer .attribution a {
  color: #4c545d;
}

@media (max-width: 768px) {
  header {
    background: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
  }
  header .header-wrapper {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  header .header-wrapper .brand,
  header .header-wrapper h1,
  header .header-wrapper p,
  header .header-wrapper .button-wrapper {
    padding: 0.5em;
  }
  header .header-wrapper .button-wrapper {
    margin-top: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .header-wrapper .button-wrapper .btn-green {
    background: #26baa4;
  }
  header .header-wrapper .button-wrapper .btn-purple {
    background: #6173ff;
  }
  header .header-wrapper .button-wrapper .btn {
    margin-top: 1em;
    margin-left: 1em;
    padding: 0.6em 1.2em;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3em;
    cursor: pointer;
  }
  header .header-wrapper p {
    color: #9fabb2;
    line-height: 1.5em;
  }
  main .section-one {
    padding: 2em;
    text-align: center;
  }
  main .section-one h2,
  main .section-one p {
    padding: 0.5em;
  }
  main .section-one p {
    color: #9fabb2;
    line-height: 1.5em;
  }
  main .section-two {
    margin-top: 2em;
  }
  main .section-two .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  main .section-two .row .col {
    width: 80%;
    margin: 0 auto;
  }
  main .section-two .row .col-1 {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding: 1em;
  }
  main .section-two .row .col-1 img {
    max-width: 100%;
  }
  main .section-two .row .col-2 .text-wrapper {
    padding: 1em;
  }
  main .section-two .row .col-2 .text-wrapper h3,
  main .section-two .row .col-2 .text-wrapper p {
    padding: 0.2em;
  }
  main .section-two .row .col-2 .text-wrapper p {
    color: #9fabb2;
    line-height: 1.5em;
  }
  main .section-three {
    margin-top: 2em;
    padding: 2em;
  }
  main .section-three .text-wrapper {
    text-align: center;
  }
  main .section-three .text-wrapper h2,
  main .section-three .text-wrapper p {
    margin: 0 auto;
    padding: 0.5em;
    width: 70vw;
  }
  main .section-three .text-wrapper p {
    color: #9fabb2;
    line-height: 1.5em;
  }
  main .section-three .text-wrapper .img-div {
    padding: 1em;
    margin-top: 1em;
  }
  main .section-three .text-wrapper .img-div img {
    max-width: 100%;
  }
  main .section-four {
    padding: 2em;
  }
  main .section-four .text-wrapper {
    text-align: center;
  }
  main .section-four .text-wrapper h3,
  main .section-four .text-wrapper p {
    padding: 0.5em;
  }
  main .section-four .text-wrapper p {
    color: #9fabb2;
  }
  main .section-four .row {
    padding: 1em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section-four .row .col {
    padding: 1em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  main .section-four .row .col img,
  main .section-four .row .col h3,
  main .section-four .row .col p {
    padding: 0.4em;
  }
  main .section-four .row .col p {
    font-size: 14px;
    color: #9fabb2;
    line-height: 1.8em;
  }
  main .section-four .row .col img {
    max-width: 100%;
  }
  main .section-five {
    padding: 2em;
    width: 100%;
  }
  main .section-five .icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  main .section-five .icon-container .icon-wrapper {
    padding: 1em;
  }
  main .section-five .icon-container .icon-wrapper img {
    max-width: 100%;
  }
  main .section-five .text-wrapper {
    padding: 1em;
    margin-top: 4em;
    text-align: center;
  }
  main .section-five .text-wrapper h2,
  main .section-five .text-wrapper p {
    padding: 0.5em;
  }
  main .section-five .text-wrapper p {
    color: #9fabb2;
    width: 70vw;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.8em;
  }
  main .section-five .text-wrapper .button-wrapper {
    margin-top: 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section-five .text-wrapper .button-wrapper .btn-green {
    background: #26baa4;
  }
  main .section-five .text-wrapper .button-wrapper .btn-purple {
    background: #6173ff;
  }
  main .section-five .text-wrapper .button-wrapper .btn {
    margin-top: 1em;
    margin-left: 1em;
    padding: 0.6em 1.2em;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 3em;
    cursor: pointer;
  }
  footer {
    padding: 2em;
    margin-top: 2em;
    background: #f5f6f8;
  }
  footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-wrapper .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-wrapper .row .col {
    padding: 0.5em;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  footer .footer-wrapper .row .col-1 .brand img {
    max-width: 20%;
  }
  footer .footer-wrapper .row .col-2 ul li {
    list-style: none;
  }
  footer .footer-wrapper .row .col-2 ul li a {
    text-decoration: none;
    color: #4c545d;
    font-size: 14px;
  }
  footer .footer-wrapper .row .col-3 ul li {
    list-style: none;
  }
  footer .footer-wrapper .row .col-3 ul li a {
    text-decoration: none;
    color: #4c545d;
    font-size: 14px;
  }
  footer .footer-wrapper .row .col-4 ul li {
    list-style: none;
  }
  footer .footer-wrapper .row .col-4 ul li a {
    text-decoration: none;
    color: #4c545d;
    font-size: 14px;
  }
  footer .attribution {
    text-align: center;
    margin-top: 2em;
    font-size: 10px;
  }
  footer .attribution a {
    color: #4c545d;
  }
}
/*# sourceMappingURL=style.css.map */